<script>
    var userType = Cookies.get('user');
    [...$('.element')].forEach(ele => {
        if(!ele.classList.contains(userType)) {
            ele.parentNode.removeChild(ele)
        }
    });
</script>
</body>
</html>