<script>
    var isAdmin = Cookies.get('isAdmin');
    [...$('.admin')].forEach(ele => {
       if(isAdmin === 'false' ) {
            ele.style.display = "none";
       }
    });
</script>
</body>
</html>