<!DOCTYPE html>
<html>
<head>
	<title>Sankalp Enterprises</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tableexport.css">
	<link rel="stylesheet" type="text/css" href="/fonts/Righteous-Regular">
	<link rel="stylesheet" type="text/css" href="/fonts/ShadowsIntoLight">
	<link rel="stylesheet" type="text/css" href="/fonts/Merienda-Regular">
	<link rel="stylesheet" type="text/css" href="/fonts/Merienda-Bold">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-combobox.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.ui.combify.css">
	<script src="/javascript/FileSaver.js"></script>
	<script src="/javascript/tableexport.js"></script>
	<script src="/javascript/jquery.js"></script>
	<script src="/javascript/jquery-ui.js"></script>
	<script src="/javascript/jquery.table2excel.js"></script>
	<script src="/javascript/xlsx.core.min.js"></script>	
	<script type="text/javascript" src="/javascript/bootstrap-combobox.js"></script>
	<script src="/javascript/jquery.ui.combify.js"></script>
	<script src="/javascript/socket.io.js"></script>
	<script src="/javascript/socket.io.slim.js"></script>
	<script src="/javascript/bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
				<a href="/" class="navbar-brand btn btn-outline-secondary">Home</a>
				<a class="nav-link nav-item btn btn-outline-primary btn-lg" href="/inventory" title="">Inventory</a>
				<a class="nav-link nav-item btn btn-outline-primary btn-lg" href="/supplier" title="">Supplier List</a>
				<a class="nav-item nav-link btn btn-outline-primary btn-lg" href="/PO" title="">PO List</a>
				<a class="nav-item nav-link btn btn-outline-primary btn-lg" href="/input" title="">Input</a>
				<a class="nav-item nav-link btn btn-outline-primary btn-lg" href="/output" title="">Output</a>
				<a class="nav-item nav-link btn btn-outline-primary btn-lg" href="/report" title="">Reports</a>
				<a class="nav-item nav-link btn btn-outline-primary btn-lg" href="/finished_good" title="">Finished Goods</a>
				<a class="nav-item nav-link btn btn-outline-primary btn-lg" href="/finished_good/PD" title="">Production/Dispatch</a>
			</div>
 	</nav>