<% include partials/header.ejs %>

<h1 align="center">Attendance</h1>

<div class="container jumbotron">
	<form action="/attendance" method="post">
		<div class="row">
			<div class="col-md-6">
				<label>Date: <input type="date" name="date" class="form-control"></label>
            </div>
            <div class="col-md-6">
                <label>Nos: <input type="number" name="nos" class="form-control"></label>
            </div>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>

<% include partials/footer.ejs %>