<% include partials/header.ejs %>

<h1 align="center">Man Power Efficiency Report</h1>

<div class="container jumbotron">
	<form action="/report/manPower" method="post">
		<div class="row">
			<div class="col-md-6">
				<label>From: <input type="date" name="from" class="form-control" autocomplete="off"></label>
			</div>
			<div class="col-md-6">
				<label>To: <input type="date" name="to" class="form-control" autocomplete="off"></label>
			</div>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>

<% include partials/footer.ejs %>