<% include partials/header.ejs %>
<br>
<h1 align="center">Delete <%= type.charAt(0).toUpperCase() + type.slice(1) %></h1>
<br>
<div class="container jumbotron">
	<form action="/finished_good/<%= type %>/delete" method="post">
		<div class="row">
			<div class="col-md-6">
				<label>From: <input type="date" name="from" class="form-control" autocomplete="off"></label>
			</div>
			<div class="col-md-6">
				<label>To: <input type="date" name="to" class="form-control" autocomplete="off"></label>
			</div>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>

<% include partials/footer.ejs %>