<% include partials/header.ejs %>
<br><br><br><br><br><br><br><br><br>
<style>
body{
	background-color: black;
	}
</style>
<h1 style="font-size:5em;color: white;text-shadow: 4px 4px 4px #aaa;" align="center"><strong><em>Sankalp Enterprises</em></strong></h1>		
<br><br><br><br><br><br><br>
<h3 style="color: white;" align="center"><em>Inventory Management Software</em></h3>
<% include partials/footer.ejs %>