<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sankalp Enterprises</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>
<body>
    <br><br><br><br>
    <h2 align="center">Inventory Management Application</h2>
    <br><br><br><br>
    <div class="container jumbotron">
        <% if(err) { %>
        <div class="alert alert-danger">
            <%= err %>
        </div>
        <% } %>
        <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" autocomplete="off">
            <br>    
            <input type="submit" value="Login" class="btn btn-dark btn-block" autocomplete="off">
        </form>
    </div>
</body>
</html>