<% include partials/header.ejs %>
<br>
<h1 align="center">New Requisition</h1>

<div class="container">
    <br><br><br>
    <form action="/requisition/new" method="POST">
        <div class="row">
            <div class="col-md-3">
                <label style="width: 100%;">Description: <select class="form-control" id="category">
                    <option value="" hidden></option>
                    <% for(var i=0;i<finished_goods_categories.length;i++){ %>
                        <option value="<%= finished_goods_categories[i].category %>"><%= finished_goods_categories[i].category %></option>
                    <% } %>
                </select></label>
            </div>
            <div class="col-md-5">
                <label style="width: 100%;">Description: <select name="FG_code" class="form-control" id="product">
                    <option value="" hidden></option>
                </select></label>
            </div>
            <div class="col-md-4">
                <label style="width: 100%;">Quantity: <input type="number" name="quantity" autocomplete="off" class="form-control" id="quan"></label>
            </div>
        </div>
        <div class="row col">
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>
</div>

<script>
    $("#category")
        .on("change", ({target}) => {
            $.ajax({
                url: `/api/finishedGoods?category=${target.value}`, 
                success: (res) => {
                    $("#product").empty()
                    $("#product")
                        .append($("<option></option>")
                        .attr("value",'')
                        .attr("hidden",'')
                        .text(``));
                    for(var d of res) {
                        $("#product")
                            .append($("<option></option>")
                            .attr("value",d.code)
                            .text(`${d.name}`));
                    }
            }})
        })
</script>

<% include partials/footer.ejs %>