<% include partials/header.ejs %>
<br>
<h1 align="center">Issue against Requisition</h1>

<div class="container">
    <br><br><br>
    <form action="" method="GET" id="form">
        <div class="row">
            <div class="col-md-3">
                <label style="width: 100%;">Status: <select name="status" id="status" class="form-control">
                    <option value="Ready">Ready</option>
                    <option value="Running">Running</option>
                </select></label>
            </div>
            <div class="col-md-9">
                <label style="width: 100%;">Description: <select name="id" id="id" class="form-control">
                    <option value="" hidden></option>
                </select></label>
            </div>
        </div>
        <div class="row col">
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>
</div>

<script>
    $.ajax({
        url: `/requisition?status=Ready`, 
        success: (res) => {
            $("#id").empty()
            for(var d of res) {
                $("#id")
                    .append($("<option></option>")
                    .attr("value",d.id)
                    .text(`${d.id} OF ${d.FG_code} WITH ${d.quantity}`));
            }
    }})
    $("#status").on("change", (e) => {
        $.ajax({
            url: `/requisition?status=${e.target.value}`, 
            success: (res) => {
                $("#id").empty()
                for(var d of res) {
                    $("#id")
                        .append($("<option></option>")
                        .attr("value",d.id)
                        .text(`${d.id} OF ${d.FG_code} WITH ${d.quantity}`));
                }
        }})
    })
    $("#id").on("change", (e) => {
        $("#form")
            .attr("action", `/requisition/${e.target.value}`)
    })
</script>

<% include partials/footer.ejs %>